body{
    background-color: rgb(240, 207, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1.5s ease-in;
}
#header{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;



}
#bookbanner{
    width:40%;
    height: 50%;
    background-color: rgb(235, 219, 219);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    height: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1{
    font-size: 60px;
    font-family: cursive;
    color: rgb(206, 132, 129);
}
h2{
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    color: rgb(80, 43, 43);
    font-size:40px;
}
h4{
    color: rgb(80, 43, 43);
    font-size:70px;
    font-family: cursive;
}
p{
    color:blanchedalmond;
    font-size: smaller;
}
.item{
    width: 90%;
    height: 600px;
    background-color: rgb(212, 117, 110);
    color:blanchedalmond;
    margin-top: 6%;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(121, 35, 35, 0.472);
    border-radius: 4%;
    animation: 
    popIn 0.7s ease-out,
    float 4s ease-in-out 0.7s infinite;
}
@keyframes popIn {
    0% { transform: scale(0.8) translateY(0); opacity: 0; }
    80% { transform: scale(1.03) translateY(0); opacity: 1; }
    100% { transform: scale(1) translateY(0); }
}
@keyframes float {
    0% { transform: scale(1) translateY(0); }
    50% { transform: scale(1) translateY(-8px); }
    100% { transform: scale(1) translateY(0); }
}
.item:hover {
    transform: scale(1.01); 
    box-shadow: 0px 10px 20px rgba(138, 27, 27, 0.901); 
}
.item img{
    max-width: 50%;
    max-height: 70%;
}
.item img:hover {
    animation: sparkle 0.8s ease-in-out;
}
@keyframes sparkle {
    0% { filter: brightness(100%); }
    50% { filter: brightness(130%); }
    100% { filter: brightness(100%); }
}
a{
    font-size: smaller;
    margin-top: 10px;
    color: rgb(248, 227, 227);
}
a:hover{
    color:brown;
}
@media (max-width: 600px) {
    body {
        align-items: center;
        padding: 10px;
    }

    h1 {
        font-size: 30px; 
        text-align: center;
    }

    h2 {
        font-size: 18px;
        text-align: center;
    }
    h3{
        font-size: 18px;
        text-align: center;
    }
    h4{
        font-size: 30px; 
        text-align: center;

    }

    .item {
        width: 100%; 
        height: auto;
        padding: 15px; 
        margin-top: 4%;
    }
    .item img{
        width: auto;
        height: 10px;
    }
    a{
        font-size: 10px;
    }
    #bookbanner{
        width: 100%;
        height: 10%;

    }
}